name: build
on:
  pull_request: {}
  push:
    branches: [main]
jobs:
  build:
    name: Build, Validate and Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: w3c/spec-prod@v2
        with:
          BUILD_FAIL_ON: warning
          GH_PAGES_BRANCH: gh-pages
          W3C_BUILD_OVERRIDE: |
            status: NOTE-WD
            TR: https://www.w3.org/TR/web-user-agents/
          W3C_ECHIDNA_TOKEN: ${{ secrets.ECHIDNA_TOKEN }}
          # Replace following with appropriate value. See options.md for details.
          W3C_WG_DECISION_URL: https://github.com/w3ctag/meetings/blob/gh-pages/2025/09-Hong-Kong/09-17-minutes.md#agreement-to-publish-it-as-a-draft-note-and-echidna-it
